thead{
    background-color: #FE5000;
}

.adjacente{
    background-color: #E96021;
}
.tabela {
    margin: auto;
    width: 85%;
    margin-top: 10px;
    user-select: none;
}

.tabela th{
    text-align: center;
    height: 55px;
    font-size: 1.2rem;    
}
.tabela td{
    text-align: center;
    height: 50px;
    font-size: 18px;
}

.tabela tr:hover{
    background-color: #F4753B;
}

.linhaDaTabela{
    height: 50px;
    background-color: white;
}

